# Arquivos de banco de dados
*.db
*.sqlite
*.db-journal

# Arquivos Excel
*.xlsx
*.xls
*.xlsm

# Arquivos temporários do Windows
Thumbs.db
relatorios/controle_patrimonial.db
relatorios/controle_patrimonial.db
logs/app.log
utils/__pycache__/excel_importer.cpython-313.pyc
relatorios/controle_patrimonial.db
logs/app.log
logs/errors.log
logs/errors.log
utils/__pycache__/excel_importer.cpython-313.pyc
