# Arquivos de banco de dados
*.db
*.sqlite
*.db-journal

# Arquivos Excel
*.xlsx
*.xls
*.xlsm

# Arquivos temporários do Windows
Thumbs.db
relatorios/controle_patrimonial.db
relatorios/controle_patrimonial.db
